<div class="container p-3 mb-2 bg-dark text-white flex-text-align-center">

<h1>Rum-po-po-poW</h1>

<ul>
<% @cocktails.each do |cocktail| %>
<li> <h3> <%= cocktail.name %> <%= link_to "détails",  cocktail_path(cocktail)  %> </h3></li>
<% end %>
</ul>

<p class="btn btn-light position-absolute-right"> <%= link_to "Créer ton cocktail",  new_cocktail_path  %> </p>

</div>
