<div class="container p-3 mb-2 bg-dark text-white">

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <p class="btn btn-light">  <%= f.submit %> </p>

<% end %>

</div>
